{% extends "layout.html" %}

{% block title %}
	{{ title }} | ALPS (알프스) - 전북대학교 컴퓨터공학부 알고리즘 스터디 그룹
{% endblock %}

{% block container %}
	<!--=== Page Header ===-->
	<div class="page-title">
		<h3> <strong>{{ title }}</strong></h3>
	</div>
	<!-- /Page Header -->

	<!--=== Page Content ===-->
	<div class="row">
		<!--=== Simple Table ===-->
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-content">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>댓글수</th>
								<th>작성일</th>
								<th>갱신일</th>
							</tr>
						</thead>
						<tbody>
							{% for post in posts %}
							<tr>
								<td>{{ post.id }}</td>
								<td>{{ post.title }}</td>
								<td>{{ post.user.nickname }}</td>
								<td>0</td>
								<td>{{ post.format_created_at() }}</td>
								<td>0000.00.00</td>
							</tr>
							{% endfor %}
							{% for i in range(max_post_cnt - posts|length) %}
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- /Simple Table -->
		</div>
	</div>
	<!-- /Page Content -->
{% endblock %}
