{% extends "layout.html" %}

{% block title %}
	{{ board.text }} | ALPS (알프스) - 전북대학교 컴퓨터공학부 알고리즘 스터디 그룹
{% endblock %}

{% block container %}
	<!--=== Page Header ===-->
	<div class="page-title">
		<h3> <strong>자유게시판</strong></h3>
	</div>
	<!-- /Page Header -->

	<!--=== Page Content ===-->
	<div class="row">
		<!--=== Simple Table ===-->
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>댓글수</th>
								<th>작성일</th>
								<th>갱신일</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>10000</td>
								<td>안녕하세요처음글작성합니다잘부탁드립니다</td>
								<td>테스트작성자</td>
								<td>1000</td>
								<td>2015.03.10</td>
								<td>2015.03.10</td>
							</tr>
							<tr>
								<td>10000</td>
								<td>abcdeabcdeabcdeabcdeabcdeabcde</td>
								<td>aabbccddeeff</td>
								<td>1000</td>
								<td>2015.03.10</td>
								<td>2015.03.10</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- /Simple Table -->
		</div>
	</div>
	<!-- /Page Content -->
{% endblock %}
