{% extends "layout.html" %}

{% block container %}
	<!--=== Page Header ===-->
	<div class="empty-page-header">
	</div>
	<!-- /Page Header -->

	<!--=== Page Content ===-->
	<div class="row">
		<!--=== Striped Table ===-->
		<div class="col-md-12">
			<div class="widget box">
				<div class="widget-header">
					<h4><i class="icon-bullhorn"></i> 공지사항</h4>
					<div class="toolbar no-padding">
						<div class="btn-group">
							<span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
						</div>
					</div>
				</div>
				<div class="widget-content">
					<h2 style="margin-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #ececec">최신 공지글입니다.</h2>
					<h3>얍얍</h3>
					<p>
						안녕하세요. 전북대학교 컴퓨터공학부 알고리즘 및 프로그래밍 스터디 동아리입니다. 이것은 테스트 목적으로 쓰여진 공지사항 내용입니다.
					</p>
					<p>일정: 2015년 2월 00일</p>
					<p>장소: 공과대학 7호관 7007호</p>
					<p>내용: 내용입니다.</p>
				</div>
			</div>
		</div>
		<!-- /Striped Table -->
	</div>

	<div class="row">
		<!--=== Simple Table ===-->
		<div class="col-md-12">
			<div class="widget box">
				<div class="widget-header">
					<h4><i class="icon-lightbulb"></i> 문제 풀이</h4>
					<div class="toolbar no-padding">
						<div class="btn-group">
							<span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
						</div>
					</div>
				</div>

				<div class="widget-content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>번호</th>
								<th>ID</th>
								<th>제목</th>
								<th>저지</th>
								<th>제출자</th>
								<th>판정</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>JOSEPHUS</td>
								<td>조세푸스</td>
								<td>Algospot</td>
								<td>홍길동</td>
								<td><span class="label label-success">Accepted</span></td>
							</tr>
							<tr>
								<td>2</td>
								<td>10500</td>
								<td>Some problem title</td>
								<td>UVa</td>
								<td>장그래</td>
								<td><span class="label label-info">Not Judged</span></td>
							</tr>
							<tr>
								<td>3</td>
								<td>1234</td>
								<td>어떤 문제</td>
								<td>Baekjoon</td>
								<td>철수</td>
								<td><span class="label label-warning">Compile Error</span></td>
							</tr>
							<tr>
								<td>4</td>
								<td>4000</td>
								<td>또 다른 문제</td>
								<td>Baekjoon</td>
								<td>영희</td>
								<td><span class="label label-danger">Wrong Answer</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- /Simple Table -->
		</div>
	</div>

	<div class="row">
		<!--=== Feeds (with Tabs) ===-->
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
					<h4><i class="icon-rss"></i> 뉴스 피드</h4>
					<div class="toolbar no-padding">
						<div class="btn-group">
							<span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
						</div>
					</div>
				</div>
				<div class="widget-content">
					<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0">
						<ul class="feeds clearfix">
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-success">
												<i class="icon-bell"></i>
											</div>
										</div>
										<div class="content-col2">
											<div class="desc">You have 2 puzzles to solve.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">
										Just now
									</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-success"><i class="icon-plus"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">New user registered.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">20 mins ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li class="hoverable">
								<a href="{{ url_for('static', filename='theme/Template/javascript:void(0);') }}">
									<div class="col1">
										<div class="content">
											<div class="content-col1">
												<div class="label label-info"><i class="icon-bullhorn"></i></div>
											</div>
											<div class="content-col2">
												<div class="desc">New items are in queue.</div>
											</div>
										</div>
									</div> <!-- /.col1 -->
									<div class="col2">
										<div class="date">25 mins ago</div>
									</div> <!-- /.col2 -->
								</a>
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-danger"><i class="icon-warning-sign"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">High CPU load on cluster #2. <span class="label label-danger label-mini">Fix it <i class="icon-share-alt"></i></span></div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">30 mins ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-warning"><i class="icon-bolt"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">Disk space to 85% full.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">45 mins ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-success"><i class="icon-plus"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">New user registered.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">1 hour ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-default"><i class="icon-time"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">Time successfully synced.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">1.5 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-info"><i class="icon-bullhorn"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">Download finished.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">1.8 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-success"><i class="icon-plus"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">New order received.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">2 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-info"><i class="icon-bullhorn"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">Download finished.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">3 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-success"><i class="icon-plus"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">New order received.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">5 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-info"><i class="icon-bullhorn"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">Download finished.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">5.5 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-success"><i class="icon-plus"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">New order received.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">7 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-info"><i class="icon-bullhorn"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">Download finished.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">16 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
							<li>
								<div class="col1">
									<div class="content">
										<div class="content-col1">
											<div class="label label-success"><i class="icon-plus"></i></div>
										</div>
										<div class="content-col2">
											<div class="desc">New order received.</div>
										</div>
									</div>
								</div> <!-- /.col1 -->
								<div class="col2">
									<div class="date">20 hours ago</div>
								</div> <!-- /.col2 -->
							</li>
						</ul> <!-- /.feeds -->
					</div> <!-- /.scroller -->
				</div> <!-- /.widget-content -->
			</div> <!-- /.widget .box -->
		</div> <!-- /.col-md-6 -->
		<!-- /Feeds (with Tabs) -->
	</div>

	<div class="row">
		<!--=== Calendar ===-->
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header">
						<h4><i class="icon-calendar"></i> 일정</h4>
					</div>
				<div class="widget-content">
					<div id="calendar"></div>
				</div>
			</div> <!-- /.widget box -->
		</div> <!-- /.col-md-6 -->
		<!-- /Calendar -->
	</div>
	<!-- /Page Content -->
{% endblock %}
