{% extends "layout.html" %}

{% block title %}
	회원가입 | ALPS (알프스) - 전북대학교 컴퓨터공학부 알고리즘 스터디 그룹
{% endblock %}

{% block container %}
	<!--=== Page Header ===-->
	<div class="empty-page-header">
	</div>
	<!-- /Page Header -->

	<!--=== Page Content ===-->
	<div class="col-md-12">
		<div class="widget box">
			<div class="widget-header">
				<h4> 회원가입</h4>
				<div class="toolbar no-padding">
				</div>
			</div>
			<div class="widget-content">
				<h3 style="margin-top: 10px; padding-bottom: 10px;"><strong>이메일 인증을 위한 메일을 발송하였습니다.</strong></h3>
				<p>받은 이메일을 확인하여 가입을 완료해 주시기 바랍니다.</p>
				<p>이메일이 도착하지 않은 경우, 스팸메일함을 확인해 주세요.</p>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
{% endblock %}
