{% from "_form_helpers.html" import render_write_field %}

{% extends "layout.html" %}

{% block title %}
	글 쓰기 - {{ title }} | ALPS (알프스) - 전북대학교 컴퓨터공학부 알고리즘 스터디 그룹
{% endblock %}

{% block head %}
<!-- Page specific plugins -->

<!-- Forms -->
<script src="{{ url_for('static', filename='theme/Template/plugins/typeahead/typeahead.min.js') }}" type="text/javascript"></script>

<!-- Styled radio and checkboxes -->
<script src="{{ url_for('static', filename='theme/Template/plugins/tagsinput/jquery.tagsinput.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/plugins/select2/select2.min.js') }}" type="text/javascript"></script>

<!-- Styled select boxes -->
<script src="{{ url_for('static', filename='theme/Template/plugins/fileinput/fileinput.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/plugins/duallistbox/jquery.duallistbox.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/plugins/bootstrap-inputmask/jquery.inputmask.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/plugins/bootstrap-wysihtml5/wysihtml5.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/plugins/bootstrap-switch/bootstrap-switch.min.js') }}" type="text/javascript"></script>

<!-- App -->
<script src="{{ url_for('static', filename='theme/Template/assets/js/app.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/assets/js/plugins.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='theme/Template/assets/js/plugins.form-components.js') }}" type="text/javascript"></script>

<!-- Ace Editor -->
<script src="{{ url_for('static', filename='ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='theme/Template/assets/js/write.js') }}" type="text/javascript"></script>

<script>
$(document).ready(function() {
	"use strict";

	App.init(); // Init layout and core plugins
	Plugins.init(); // Init all plugins
});
</script>
{% endblock %}

{% block container %}
	<!--=== Page Header ===-->
	<div class="empty-page-header">
	</div>
	<!-- /Page Header -->

	<!--=== Page Content ===-->
	<div class="row">
		<div class="col-md-12">
			<div class="widget box">
				<div class="widget-header">
					<h4><i class="icon-pencil"></i> 글 쓰기 - {{ text }}</h4>
				</div>
				<div class="widget-content">
					<form id="edit-form" class="form-horizontal row-border" action="{{ url_for('write_post', board_name=name) }}" method="POST">
						<!-- Input Fields -->
						{{ render_write_field(field=form.title) }}
						{{ render_write_field(field=form.content, id='post_content', hidden=True) }}
						<div id="edit-form" class="form-group">
							<label class="col-md-2 control-label">
								내용
							</label>
							<div class="col-md-10">
								<div id="editor" class="editor"></div>
							</div>
						</div>
						<script>
							var editor = ace.edit('editor');
							editor.getSession().setMode('ace/mode/markdown');
							WritingPost.init(editor); // Add OnSubmit handler for ACE Editor
						</script>
						{{ form.csrf_token }}
						<div class="form-actions">
							<input value="확인" class="btn btn-primary pull-right" type="submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
{% endblock %}
